---
import Logo from "./logo.astro";
import Item from "./item.astro";

const { href } = Astro.url;
---

<nav
  id="main_nav"
  class="flex items-center justify-between px-10 sticky top-[0] bg-[white] gap-3 h-[130px] w-full z-20"
>
  <section>
    <Logo aClassName="Nav-Item" viewId="top" />
  </section>
  <section>
    <ul class="items-center justify-between flex md:flex-row md:gap-5 flex-col">
      <Item viewId="about" name="Nosotros" href={href} className="Nav-Item" />
      <Item
        viewId="services"
        name="Servicios"
        href={href}
        className="Nav-Item"
      />
      <Item
        viewId="projects"
        name="Proyectos"
        href={href}
        className="Nav-Item"
      />
      <Item viewId="footer" name="Contacto" href={href} className="Nav-Item" />
    </ul>
  </section>
</nav>

<script>
  let isPrimary = false;
  let lastScrollPosition = 0;
  const OFFSET_Y = 130;
  const Nav = document.querySelector("#main_nav") as HTMLDivElement;
  if (window.scrollY < OFFSET_Y) {
    Nav.style.background =
      "linear-gradient(0deg, rgba(43, 63, 81, 0) 0%, #2d4256 100%)";
    Nav.style.color = "white";
  }

  window.addEventListener("scroll", onScroll);
  const NavItems = document.querySelectorAll(
    ".Nav-Item"
  ) as NodeListOf<HTMLAnchorElement>;

  NavItems.forEach((item) => {
    item.addEventListener("click", (e) => goTo(e, item));
  });

  function onScroll() {
    handleNavColor();
    handleNavDisplay();
  }

  function handleNavColor() {
    if (window.scrollY < OFFSET_Y && isPrimary) {
      Nav.style.background =
        "linear-gradient(0deg, rgba(43, 63, 81, 0) 0%, #2d4256 100%)";
      Nav.style.color = "white";
      isPrimary = false;
    } else if (!isPrimary && window.scrollY > OFFSET_Y) {
      Nav.style.background = "white";
      Nav.style.color = "black";
      isPrimary = true;
    }
  }

  function handleNavDisplay() {
    const currentScrollPosition = window.scrollY;
    const screenHeight = window.innerHeight;

    console.log({ lastScrollPosition, currentScrollPosition, screenHeight });

    if (
      currentScrollPosition < screenHeight ||
      currentScrollPosition < lastScrollPosition
    ) {
      Nav.style.transform = "none";
    } else {
      Nav.style.transform = `translate(0px, -${OFFSET_Y}px)`;
    }
    lastScrollPosition = currentScrollPosition;
  }

  function goTo(e: Event, element: HTMLAnchorElement) {
    e.preventDefault();
    const viewId = element.getAttribute("data-view-id");
    if (!viewId) return;
    if (viewId === "top") {
      window.scrollTo({ top: 0, behavior: "smooth" });
      return;
    }
    const view = document.querySelector(`#${viewId}`) as HTMLDListElement;
    view?.scrollIntoView({ behavior: "smooth" });
  }
</script>
