---
import { Image } from "astro:assets";
import logo from "./logo_no_background.png";

interface Props {
  width?: number;
  height?: number;
  aClassName?: string;
  imgClassName?: string;
  viewId?: string;
}

const { width, height, aClassName, viewId, imgClassName } = Astro.props;
const { href } = Astro.url;
---

<a href={href} class={aClassName} data-view-id={viewId}>
  <Image
    src={logo}
    alt="logo"
    class={imgClassName}
    width={width ?? 120}
    height={height ?? 120}
  />
</a>
